<div class="container">
    <div class="footerList">
        <a href="/home">Home</a>
        <a href="/Browse">Browse</a>
        <a href="/favorite">Favorite</a>
        <a href="/About">About</a>
    </div>
    <p>&copy; 2024 YasserAO . This webpage is open-source and free to use.</p>
</div>