<div class="container">
    <h1>This is the About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorem, ad quo, aperiam eaque illo ea odit delectus, aspernatur repellendus dolores eligendi expedita blanditiis modi quaerat? Ut ullam ipsum quia.</p>
</div>