<div class="container">
    <h1>This is the About Page</h1>
    <p>Recipur is a web application that helps you find delicious recipes easily. Users can search for recipes, view detailed information, save favorites, and manage their favorite recipes using local storage. Enjoy exploring new dishes with Recipur!</p>
</div>