<div class="container">
    <h1>Serch For a Recipie</h1>
    <p>Use keyWords Like "Eggs" "Chicken" ... etc to find a recipe that suits your ingrediants</p>
    <div class="info">
        <div class="info-de">
            <p>Click on</p>
            <img src="/images/AddToFavorite.png" alt="Favorite">
            <p>To Add to favorite</p>
            
        </div>
        <div class="info-de">
            <p>Click on</p>
            <img src="/images/ShowDetails.png" alt="details">
            <p>To Show Details</p>
            
        </div>
    </div>
    <div class="searchArea">
        <form>
            <div class="searchBar">
                <input type="search" placeholder="Ex: egg meat" name="search" id="search">
                <button type="submit">Search</button>
            </div>
        </form> 
        <div class="outputField" id="outputField">
            
        </div>
    </div>
</div>