<div class="container">
    <h1>My favorite Recipies</h1>
    <p>Here you Find all your favorite recipies</p>
    <div class="searchArea">
        
           
        
        <div class="outputField" id="favoriteField">
            
        </div>
    </div>
</div>