<div class="container">
    <h1>Welcome to Healthy Recipe Finder!</h1>
    <p>Discover nutritious and delicious recipes tailored to your preferences.</p>
    <div class="features">
        <h1>Features</h1>
        <div class="feature">
            <h2>Search Recipes</h2>
            <p>Find recipes by ingredient, cuisine, or meal type. Explore detailed instructions, nutritional info, and serving sizes.</p>
        </div>
        <div class="feature">
            <h2>Save Favorites</h2>
            <p>Easily save and revisit your favorite recipes with our Favorites Collection.</p>
        </div>
    </div>
</div>
<div class="StartNow LinksButtons">Start Now</div>
